body {
    background-image: url('https://scontent.fcgh2-1.fna.fbcdn.net/v/t1.15752-9/75481736_957867514570075_4123177593526550528_n.jpg?_nc_cat=108&_nc_sid=b96e70&_nc_ohc=Te52L10SvbgAX-9IN2P&_nc_ht=scontent.fcgh2-1.fna&oh=9218cef13f06d2601bdb0eab5b025b11&oe=5EE0FA47');
      
      background-size: auto 100vw;
     
      font-family: Arial;
      
      height: 100vh;
    }
    
    .menu {
      background-color: lightblue;
     
    }
    
    .menu ul {
       display: flex;
      justify-content: space-between; 
    }
    
    .menu li {
      list-style: none;
       
      
      
    }
    
    a {
     color: black; 
    }
    
      a {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
          
      }
    
    .site-title, 
    .site-subtitle{
      
      color: Black;
      
      text-align: center;
      
    }
    
    .site-subtitle {
      
      color: gold; 
      
      font-style: italic;
      
      
    }
    